# Introduction to Python (Pt. 1)

Welcome to the exciting world of Python!

For many of you, this may be your very first time programming, and these lessons are designed to help you go from your very first steps with reading code all the way to writing code for the hands-on projects this summer. You got this!

![alt text](https://media.giphy.com/media/fnQ3DS2bSrOdxNIXOC/giphy.gif)

Before we jump into the lesson itself, let's talk about programming in general. **Programming** is a way to tell your computer how to perform tasks by giving it specific instructions. 

Everything a computer does is by using a computer program, and you may already be familiar with many of these! For example, Instagram, Pokemon Go, Google Maps, Siri, Photoshop, and more are all examples of computer programs.

![Imgur](https://i.imgur.com/JLDNaFK.jpg)

Just as humans communicate with different languages, there are also different languages to communicate to computers with. These are called **programming languages**, and there are hundreds of them, each with their own styles and uses.

For AI, the most popular programming language to use is Python. There are many reasons that people like to use Python, such as:

*   It's fast and easy to write code
*   Many great open-source **libraries**
*   Active and growing community

A programming library is a collection of code that someone else has written, that you can then use (so you don't have to reinvent the wheel). Many libraries are private and owned by specific companies, but other libraries are open-source, meaning that they can be freely and publicly used and contributed to. Python has a very large community of people who build and maintain open-source libraries.

We'll learn more about libraries in Python throughout the summer, and you may frequently see the use of one particular library called **Scikit-Learn**. This library and **TensorFlow** are two of the most popular for programming artificial intelligence.

As an additional note, programming languages have different version numbers which may affect how they're read and written. (Think of this like the difference between Ancient Greek and Modern Greek, and how a language changes over time.) For this and the following lessons, we will be specifically using **Python 3**.

## Your First Line of Python

Now let's jump into some programming! 

Click on the programming block below, and a play button will appear on the left. Click on the play button to run the line of Python code. If you had to guess, what do you think this line of code will do?

In [ ]:
print("I'm here! I'm coding!")

I'm here! I'm coding!

Congratulations! You've just run your very first line of code at the AI4ALL program.

![alt text](https://media.giphy.com/media/ely3apij36BJhoZ234/giphy.gif)

Before we dig deeper into Python, let's get to know about the coding environment that we're using.

## Intro to Jupyter Notebooks and Google Colabs

Typically, to run Python code, you have to run it on your computer, using either the command line or a specific type of program called an IDE (integrated development environment). 

Instead, right now we're using a tool called **Jupyter Notebooks**, which in the past few years has been extremely popular in the data science and artificial intelligence communities to write and run code. In addition, Google has created a software called **Colaboratory** (Colabs for short), which allows us to run our Notebooks in Google Drive, just like with Google Docs or Google Sheets.

**Let's try out Google Colabs by adding a _code block_ under this text. Click this text, and then on the top left of the web page, click the "+ Code" button. Then write your own print statement!**

In [ ]:
print("Ello, AI4ALL!")

Ello, AI4ALL!



---

You can write new Python code in any of the code blocks within this Notebook. When you want to run the code that you've written, make sure you have the code block selected, and hit the Play button on the left side of the block.

If you want to delete a code block, select it, and then click on the three dots on the right side of the block to show the "Delete Cell" option.

Python code persists between code blocks within this Notebook. That means that if you write some code in one code block, it can affect future code blocks. When we talk about variables next, this means that if you declare a variable in one code block, you can still call it in a different code block afterwards.

As you work more in Google Colabs over this program, you may use other functions, such as adding text blocks, rearranging cells, and maybe even learning some **Markdown**, which is a language used to help style text blocks.

## Your Very First Variable (at AI4ALL)

In programming, we use a concept called a **variable** that's similar to what you have learned in math. Let's give it a try:

In [ ]:
x = 100

When you run the cell above, you've **initialized** (created) a variable named `x` that you have **assigned** the value of 100. 

The next time you refer to `x` in your code, it will remember that it has been assigned 100. 

Variables are extremely useful in programming, and we'll see lots and lots of them moving forward!

## Printing

When we run a Python program, the user will only see what we decide to print to the screen. 

Notice that when we set `x = 100` earlier, nothing was printed back out. How can we make sure that the value we assign to a variable is correct? We can print it!

In [ ]:
y = 200
print(y)

200

Try it out yourself! Make a variable called 'z' that has a value of 1300 and then print it out.

In [ ]:
# Add your code here & don't forget to hit Run when you're done!

z = 1300
print(z)

# By the way, when you add a hashtag to the front of your line, this tells
# the coding environment to treat that line as a comment, so that you can
# type out helpful notes for yourself. Great programmers leave comments on
# their code to communicate information with other programmers!

1300

If we have multiple print commands in a row, they will print each on a separate line by default.

In [ ]:
print("Hello there!")
print("This message will show up to the user.")

Hello there!
This message will show up to the user.

One thing that you will find useful is to be able to print out a message but also include the value of a variable in that message. For example:

In [ ]:
number_of_flowers = 5
print("I have", number_of_flowers, "flowers.")

I have 5 flowers.

Notice that spaces were added between "have", "5", and "flowers" when we used the commas.

In Python, there are many, many ways to format your print statements, and different programmers have different preferences for how they like to work with printing.

One advanced way to format your print statements is as follows:

In [ ]:
number_of_flowers = 5
print("I have {} flowers.".format(number_of_flowers))

I have 5 flowers.

In the method above, the curly braces, `{}`, are used to tell Python to expect a variable there. We then specify what variable to expect by adding `.format(no_flowers)` after the message we are printing.

If this line of code is confusing to look at right now, don't worry! We'll cover more Python concepts that will help you understand this line better (especially that `.format(no_flowers)` part) in the coming lessons. Now try it yourself!

In [ ]:
# Write a print statement below to say "I own 100 books", using a variable number_of_books
number_of_books = 100
print("I own {} books.".format(number_of_books))

I own 100 books.

## Data Types

So far, we've only been assigning integers to our variables, like we see in math. In Python, we can actually assign many more types of data to our variables!

For example:

In [ ]:
some_string = "This type of data is called a string!"
some_string_2 = 'This is also a string; notice we can use both quote marks and apostrophes'

# We can also assign numbers with decimal points to our variables. These are called Floats!
some_number = 13.45

# Another type of variable is called a boolean, which only holds the value of True or False
# We'll talk more about these as we get to conditionals, in a later section
some_bool = True

print("Practice adding some print statements below to print the other variables!")
print(some_string_2)
print(some_bool)

Practice adding some print statements below to print the other variables!
This is also a string; notice we can use both quote marks and apostrophes
True

## Variable Naming Rules

Variables are case-sensitive. That means a variable named `thing` and one named `Thing` are different! Let's see why this matters by running the following code:

In [ ]:
thing = 1
print(thing)

1

Oh no! What happens when you run that code block? You'll see a `NameError` pop up, saying that `'Thing' is not defined`. This happens because we initialized a variable named `thing` but not one named `Thing` with the uppercase T.

As you have seen in earlier examples, variables also can have letters, numbers, and underscores included in them, but with certain restrictions.

Run the following code blocks to see if they work or if they raise errors:

In [ ]:
thing_2 = 5

In [ ]:
thing-2 = 5

SyntaxError: ignored

In [ ]:
2_thing = 5

SyntaxError: ignored

In [ ]:
some variable = 5

SyntaxError: ignored

After running the above code blocks, you should see that you:


*   Can only start a variable name with a letter or underscore (no numbers)
*   Can't include a space in a variable name
*   Can't use any special characters (like `-` or `+`) or punctuation (like `.` or `,`)

Finally, you cannot use "reserved keywords" as variable names. "Reserved keywords" are special words in the Python language that do specific things in your code. For example, one reserved keyword is `for`. Notice how it's colored purple in the code block below:

In [ ]:
for = 10

SyntaxError: ignored

If you run the above code block, it will raise an error as expected.

In [ ]:
# Initialize your own variable below (give it any valid name) and assign it the value "Hello!"
h = "Hello!"
print(h)

Hello!

## Math in Python

Python also makes it _very_ easy to do math without calculating it ourselves. In artificial intelligence work, we often deal with very complex equations and numbers, sometimes even dealing with billions of numbers at once, and it can be nearly impossible to compute by hand! This is where programming really helps us out, so that we're not left feeling like:

![alt text](https://media.giphy.com/media/8lPSqcjcNjymIOS4Pm/giphy.gif)

For example, if someone asks us to multiply 35 and 67, we could type it right into Python:

In [ ]:
print(35*67)

2345

When we run the code above, we can print out the result of multiplying 35 and 67. But what if we need to keep this answer for future calculations? We can save it as a variable and re-use it!

In [ ]:
a = 35 * 60
b = 4
c = a * b
print(c)

8400

### Math Operators

So what mathematical operations can we do in Python, and how do we do them? Some examples below:

In [ ]:
addition = 3 + 5
subtraction = 10 - 2
multiplication = 4 * 9
division = 121 / 11
exponentiation = 3 ** 2

# Notice that if we run this cell block, there is no output (so we can't check our results)
# Add a print statement so you can check the calculations are as expected!
print(addition)
print(subtraction)
print(multiplication)
print(division)
print(exponentiation)

8
8
36
11.0
9

Additionally, one math operation you might not have seen before is called **modulo** and is quite useful when programming. What modulo does is it returns the remainder after you divide.

For example:

In [ ]:
modulo = 35 % 2
print(modulo)

# When you divide 35 by 2, you get 17 with a remainder of 1
# The modulo (%) operator will return that 1

1

In [ ]:
# What will the following return?
mod = 44 % 10
print(mod)

4

### Order of Operations and Parentheses

Order of operations are respected in Python, and you can use parentheses as expected.

In [ ]:
some_number = (47 + 3) * 2 / 10
print(some_number)

10.0

You cannot, however, do implicit multiplication with parentheses. If you run the code below, it will return an error:

In [ ]:
some_number_2 = 2 (5 + 5)

TypeError: ignored

### An Arithmetic Shortcut

So far, we've only been initializing new variables. Variables in Python, unlike in math, can be updated to hold new values. For example:

In [ ]:
a = 10
print(a)
a = 20
print(a)

10
20

On the third line in the code block above, `a` is reassigned the value of 20.

What if we wanted to add 10 to the value of `a`? There is an arithmetic shortcut we can use:

In [ ]:
a = 20
a += 10
print(a)
# What do you expect this to print?

30

A longer example, with other operations. What do you think the final value should be? Try to calculate it yourself before adding a print command to test your answer:

In [ ]:
unknown = 5
unknown += 5
unknown -= 2
unknown *= 8
unknown /= 4
unknown %= 3
print(unknown)

1.0

## User Input

Up until now, we've worked on printing, creating variables, and doing some math. All of that is useful, but what makes many programs interesting and valuable are that they can take in user input and change how they run.

To get user input, we do the following:

In [ ]:
input("Type something and hit enter! ")

Type something and hit enter! ello

'ello'

We've gotten user input, but how do we remember it and use it in the future?

As always, let's store it as a variable.

In [ ]:
answer = input("Tell me something: ")
print("You said:", answer)

Tell me something: hi
You said: hi

In fact, a very early version of AI (that wasn't _really_ AI) called ELIZA mainly just took user input and returned it in a way that tried to mimic how a psychologist might communicate with you:

In [ ]:
topic = input("What topic is on your mind? ")
print("And how does", topic, "make you feel?")

What topic is on your mind? food
And how does food make you feel?

## If Statements (Conditionals)

How can we change how the program acts based on input from the user? We can make use of a concept called **conditionals**, which come from the idea that for certain _conditions_, you do certain actions.

What do you think this following line of code does? Once you have a guess, give it a run a few times, with different inputs:

In [ ]:
num = int(input("Input a number from 1 to 10: "))

if num > 5:
  print("This was a good number!")

Input a number from 1 to 10: 9
This was a good number!

Notice that in the code block above, the print statement only happens for certain numbers that are input. We happen to use the comparison operator `>` to compare `num` and `5` in this particular case. All of the comparison operators are as follows:


* `==` to check for equality
* `!=` to check for inequality
* `>` greater than
*   `<` less than
*   `>=` greater than or equal to
* `<=` less than or equal to

It's particularly important to note that if you are checking if something is equal, you must use `==` and not just a single `=`, because a single `=` in Python is interpretted as assigning a value to a variable.

We'll put this to use in the code block below. Don't be afraid to ask for help!

In [ ]:
num = int(input("Input a number from 1 to 10: "))

# Let's give it a try! Finish the following line so that "You got it!" only prints when num equals 3
if num == 3:
  print("You got it!")

Input a number from 1 to 10: 4

What if we wanted to print a different message if they got the number wrong? It would take a lot of time to write a condition for every single other option, so instead we can make use of a different piece of code:

(Spoilers for the previous code block, so be sure to have finished that before looking at the following.)

In [ ]:
num = int(input("Input a number from 1 to 10: "))

if num == 5:
  print("You got it!")
else:
  print("Try again!")

Input a number from 1 to 10: 5
You got it!

We can also include some math in our if statement, to help check for specific conditions. For example, a very popular use of the modulo operator is to check if a number is even or odd, and we can combine this with an if statement:

In [ ]:
num = int(input("Input a number from 1 to 100: "))

if num % 2 == 0:
  print("You inputted an even number.")
else:
  print("You inputted an odd number.")

Input a number from 1 to 100: 8
You inputted an even number.

So how does this work?

Because modulo returns the remainder after dividing by 2, we know that all even numbers will have a remainder of 0 and all odd numbers will have a remainder of 1. Our if-statement checks to see that if after `num % 2` you get the result of 0, you know that `num` is an even number.

There are many more uses of if-statements, and we'll see that this is one of the most useful fundamental concepts in programming that helps us create meaningful programs.

### A Note on Indenting

You may have noticed in all of the code examples above that there is a single indent for the line that comes after the if-statement condition. Why might that be?

Try running the following code to see what happens:

In [ ]:
x = 5

if x < 2:
  print("Well, we know this will not print...")
  print("But what about this?")

Compare it with the following:

In [ ]:
x = 5

if x < 2:
  print("Well, we know this will not print...")
print("But what about this?")

But what about this?

What do you notice is the difference between the two code blocks?

We use indenting to tell Python which block of code should be run as part of the conditional, and which part comes after the conditional. 

Not all programming languages use indentation for this -- for example, a different programming language called JavaScript uses the curly braces `{}` to tell the computer that everything inside the curly braces should be run if the condition is true, and everything afterwards will be run regardless of the conditional.

In [ ]:
# One more example just to be clear!
y = 100

# Do you remember what this following comparison operator does?
if y != 100:
  print("Will this line print?")
  print("How about this line?")
  print("Let's add one more line just in case.")
print("Now will it print?")

Now will it print?

# Lists

There are many ways in Python where we can store many different things in one single variable. Just like in the real world, we often want to be able to make lists in Python. Imagine these like to-do lists, shopping lists, or lists to keep track of a set of similar things.

![alt text](https://media.giphy.com/media/MJ4Qi9dSACpLG/giphy.gif)

In [ ]:
# The following is a list in Python:
things_to_do = ["water plants", "take out trash", "mow law", "prepare dinner"]

We use the square brackets `[]` to show that we're using a list in Python. Lists can be a mixture of different data types, like:

In [ ]:
some_random_list = [5, "something", True, 4.5, "okay"]

# To test if something is in a list, we use the operator 'in'

if 5 in some_random_list:
  print("The number 5 is in this list!")

The number 5 is in this list!

In [ ]:
# Fill in the list below so that the conditional will be true!
your_list = [42, 11, 10, "apple" ]
x = 42

if x in your_list:
  print("The value of x was found in your list.")

The value of x was found in your list.

### Indexing into a list

What if we wanted to get a specific **element** of a list? We can do the following:

In [ ]:
some_list = ['a', 'b', 'c']
print(some_list[1])

# What do you expect this to print?

b

In Python, we actually start counting from 0, not 1. So the "first" element of the list would be `some_list[0]`. The number that we use is called the **index** of the element. (So element `a` would have the index of 0.)

In [ ]:
# Print the 'e' from the list using indexing
random_list = [3, 5, 'blob', 'e']

print(random_list[-1])

e

## Loops

Sometimes we want to repeat the same operation many times. For example, say we wanted to print all of the multiples of 7 up to 100. How could we do this?

One way is to manually calculate all of the multiples and write `print(7)`, then `print(14)`, and continue until we've printed all of them out. But this takes lots of time to calculate and type out, and we're likely to make errors in this way.

Instead, we can use something called a while loop:

In [ ]:
num = 7
while num < 100:
  print(num)
  num += 7

7
14
21
28
35
42
49
56
63
70
77
84
91
98

On line 2 in the code above, we check to see if the variable `num` is less than 100. If it is, we will run the two indented lines of code, which print `num` and also increase it by 7. This will continue until `num` is greater than 100, and stop repeating, which we see from running the code.

Loops are a very useful way to repeat the same task over and over, often with just a small thing changed on each **iteration**, which is what we call one cycle of the loop. If you feel like you're doing a lot of copying and pasting of code, this is often a sign that you can potentially replace things with a loop.

### For Loops

One particular type of loop is the for loop. It has many uses, such as with lists:

In [ ]:
things_to_do = ["water plants", "take out trash", "mow law", "prepare dinner"]

for task in things_to_do:
  print("Now doing:", task)

Now doing: water plants
Now doing: take out trash
Now doing: mow law
Now doing: prepare dinner

Notice that in order to print out each element of the list one-by-one, we need to use a for loop. We cannot do the following:

In [ ]:
# This would just print the entire list at once
things_to_do = ["water plants", "take out trash", "mow law", "prepare dinner"]
print(things_to_do)

['water plants', 'take out trash', 'mow law', 'prepare dinner']

Say we want to loop through a list of numbers and count how many times we see an even number. We could do that by combining for loops and if statements:

In [ ]:
list_of_no = [1,2,99,24,45,76]

count = 0

for number in list_of_no:
  if number % 2 == 0:
    count += 1
    
print(count)

3

Take your time to read the code example above. We've combined many of the different things that we've learned in the lesson so far to accomplish this task. Try to read through each line of code to understand what it does, especially within the for loop. Notice that the if-statement condition is indented once, and the `count += 1` line is indented twice.

## Ranged For Loop

In addition to using a for loop with a list, we can use a for loop with a range of numbers. Say we wanted to count up from 1 to 100 and print each number:

In [ ]:
for number in range(100):
  print(number) #starts with 0 and ends at 99

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

**What is the first number that's printed?**

0! Remember that in Python, we typically start counting from 0, not 1.

**What is the final number that's printed?**

You'll notice that the number we specify in `range()` is the number we count _up to_, but don't actually get to.

**How can we correct this to print the numbers 1 to 100 instead of 0 to 99?**

In [ ]:
# One approach:
for number in range(1000):
  print(number + 1)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
539
540
541
542
543
544
545
546
547
548
549
550
551
552
553
554
555
556
557
558
559
560
561
562
563
564
565
566
567
568
569
570
571
572
573
574
575
576
577
578
579
580
581
582
583
584
585
586
587
588
589
590
591
592
593
594
595
596
597
598
599
600
601
602
603
604
605
606
607
608
609
610
611
612
613
614
615
616
617
618
619
620
621
622
623
624
625
626
627
628
629
630
631
632
633
634
635
636
637
638
639
640
641
642
643
644
645
646
647
648
649
650
651
652
653
654
655
656
657
658
659
660
661
662
663
664
665
666
667
668
669
670
671
672
673
674
675
676
677
678
679
680
681
682
683
684
685
686
687
688
689
690
691
692
693
694
695
696
697
698
699
700
701
702
703
704
705
706
707
708
709
710
711
712
713
714
715
716
717
718
719
720
721
722
723
724
725
726
727
728
729
730
731
732
733
734
735
736
737
738
739
740
741
742
743
744
745
746
747
748
749
750
751
752
753
754
755
756
757
758
759
760
761
762
763
764
765
766
767
768
769
770
771
772
773
774
775
776
777
778
779
780
781
782
783
784
785
786
787
788
789
790
791
792
793
794
795
796
797
798
799
800
801
802
803
804
805
806
807
808
809
810
811
812
813
814
815
816
817
818
819
820
821
822
823
824
825
826
827
828
829
830
831
832
833
834
835
836
837
838
839
840
841
842
843
844
845
846
847
848
849
850
851
852
853
854
855
856
857
858
859
860
861
862
863
864
865
866
867
868
869
870
871
872
873
874
875
876
877
878
879
880
881
882
883
884
885
886
887
888
889
890
891
892
893
894
895
896
897
898
899
900
901
902
903
904
905
906
907
908
909
910
911
912
913
914
915
916
917
918
919
920
921
922
923
924
925
926
927
928
929
930
931
932
933
934
935
936
937
938
939
940
941
942
943
944
945
946
947
948
949
950
951
952
953
954
955
956
957
958
959
960
961
962
963
964
965
966
967
968
969
970
971
972
973
974
975
976
977
978
979
980
981
982
983
984
985
986
987
988
989
990
991
992
993
994
995
996
997
998
999
1000

Often we'll find multiple ways to do the same thing in Python.

In [ ]:
# Another approach:
for number in range(1, 101):
  print(number)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

Both are valid approaches that have pros and cons.

Notice that in the for loop, we mention the variable `number`, but never initialize it beforehand. Typically you'd expect this to return an error, like you see below:

In [ ]:
# An example of a variable we've never initialized before being used
print(some_random_new_variable)

NameError: ignored

However, in the first line of a for loop, Python understands that we are using a placeholder variable that is updated each time the for loop runs. In the following example, `num` is a placeholder variable that's assigned the value 2 the first time the for loop runs, and incremented by 1 each time the loop repeats:

In [ ]:
for num in range(2, 10):
  print(num)

2
3
4
5
6
7
8
9

## Exercise

![alt text](https://media.giphy.com/media/9GimADqtnpAPe/giphy.gif)

Let's try to put a few of the things that we've learned to the test!

In this exercise, write a program that counts from 1 to 100, but will only print the word "Fizz" on every multiple of three, along with the number itself. For example, the start of your output should look like:

> Fizz 3

> Fizz 6

> Fizz 9

> Fizz 12

> ...

There are many ways to accomplish this exercise with what we have learned!

In [ ]:
for i in range(1,101):
  # Write your code here (Hint: Remember what the % operator does?)
  if i % 3 == 0:
    print("Fizz", i)
  # else:
  #   print(i)

Fizz 3
Fizz 6
Fizz 9
Fizz 12
Fizz 15
Fizz 18
Fizz 21
Fizz 24
Fizz 27
Fizz 30
Fizz 33
Fizz 36
Fizz 39
Fizz 42
Fizz 45
Fizz 48
Fizz 51
Fizz 54
Fizz 57
Fizz 60
Fizz 63
Fizz 66
Fizz 69
Fizz 72
Fizz 75
Fizz 78
Fizz 81
Fizz 84
Fizz 87
Fizz 90
Fizz 93
Fizz 96
Fizz 99

## Challenge Exercise

For those who are ambitious, here's a coding question that you can answer with just the concepts we've learned in this lesson. This one is slightly trickier, but you've got this!

Write a program that prints the numbers from 1 to 100, but on multiples of 3 will print "fizz", on multiples of 5 will print "buzz", and on multiples of both 3 and 5 will print "fizzbuzz". For example, the start of your output should look like:

> 1:

> 2:

> 3: fizz

> 4:

> 5: buzz

> 6: fizz

> 7: 

> 8:

> 9: fizz

> 10: buzz

> 11:

> 12: fizz

> 13:

> 14:

> 15: fizzbuzz

> 16:

> ...

Feel free to work with others and ask questions on this challenge exercise!

In [ ]:
# Write your code here
for i in range(1,101):
  # Write your code here (Hint: Remember what the % operator does?)
  if i % 15 == 0:
    print(i, ": fizzbuzz")
  elif i % 3 == 0:
    print(i, ": fizz")
  elif i % 5 == 0:
    print(i, ": buzz")
  else:
    print(i)

1
2
3 : fizz
4
5 : buzz
6 : fizz
7
8
9 : fizz
10 : buzz
11
12 : fizz
13
14
15 : fizzbuzz
16
17
18 : fizz
19
20 : buzz
21 : fizz
22
23
24 : fizz
25 : buzz
26
27 : fizz
28
29
30 : fizzbuzz
31
32
33 : fizz
34
35 : buzz
36 : fizz
37
38
39 : fizz
40 : buzz
41
42 : fizz
43
44
45 : fizzbuzz
46
47
48 : fizz
49
50 : buzz
51 : fizz
52
53
54 : fizz
55 : buzz
56
57 : fizz
58
59
60 : fizzbuzz
61
62
63 : fizz
64
65 : buzz
66 : fizz
67
68
69 : fizz
70 : buzz
71
72 : fizz
73
74
75 : fizzbuzz
76
77
78 : fizz
79
80 : buzz
81 : fizz
82
83
84 : fizz
85 : buzz
86
87 : fizz
88
89
90 : fizzbuzz
91
92
93 : fizz
94
95 : buzz
96 : fizz
97
98
99 : fizz
100 : buzz

Note: This is the classic "fizzbuzz" problem, which is actually a real interview question that some companies ask when they hire software engineers! Good job to those who figured out the solution to this question!

## Congratulations!

You made it to the end of the first Introdution to Python lesson! This was a very condensed sprint through some fundamental Python concepts, and you did amazingly. Remember, it takes time and practice to get the hang of programming, so no sweat if you need to review some of the concepts in this lesson. Take this time to really congratulate yourself on all your work coding today!

![alt text](https://media.giphy.com/media/26gs7fLOYbSGbBSN2/giphy.gif)

In [ ]:
tuple = ("apple", "banana")
tuple[1]

# tuples are immutable cannot change

'banana'

In [ ]:
# dictionaries

# with lists, you access elements with their index numbers, 

list = [1,2,3]

In [ ]:
# sets are mutable but cannot index into sets
set = {1,2,3,4,5,4,"apple"} # removes duplicates
set

set.add(6)
print(set)

nSet = {6,7}
print(set.intersection(nSet))
print(set.union(nSet))

7 in nSet #check if in the set

{1, 2, 3, 4, 5, 'apple', 6}
{6}
{1, 2, 3, 4, 5, 'apple', 6, 7}

True

In [ ]:
# dictionaries acess elements based on keys

dict = {
    "apple": 10,
    "orange": "two",

}
print(dict["apple"])

# dict = {
   # "word":"def of that word"
# }
print(dict)

10
{'apple': 10, 'orange': 'two'}

In [ ]:
nDict = []
# nDict = dict()

nDict = {"apples":5, "berries":3}
nDict["berries"] # cannot search up by valu7e, only by key

nDict["bread"]  = 10
nDict

# nDict.keys

{'apples': 5, 'berries': 3, 'bread': 10}

In [ ]:
# del nDict[5]
nDict

nDict[tuple] = 8
nDict

for i in nDict:
  print(i)

apples
berries
bread
('apple', 'banana')

In [ ]:
# functions

# parameters are bassed into function and functions can return values
# arguments

print("eh", 5, 6,8)

def sum(a,b):
  return a + b

print(sum(7,7)) # 7 and 7 are the arguments
x = sum(2,3)
print(x)

eh 5 6 8
14
5

In [ ]:
import numpy as np
# libraries - 

x = np.asarray([0,1,2])
x + 1

np.sqrt(x)
np.sin(x)
np.exp(x)
x.dtype
x.size

3

In [ ]:
import numpy as np

def r(shape):
  num = np.random.rand(shape[0]=shape[1]) * 25
  return num

r(shape=(3,3))

SyntaxError: ignored

In [ ]:
class Student:
  def __init__(self, name, age):
    self.name = name
    self.age = age

names = ['a','b','c']
students = [Student(name,15) for name in names]

In [ ]:
s1 = Student("Mimi", 12)

In [ ]:
print(s1.name)
print(students)

Mimi
[<__main__.Student object at 0x7f794179cad0>, <__main__.Student object at 0x7f794179c3d0>, <__main__.Student object at 0x7f79417708d0>]